
<div class="forgot">
    <div class="forgot-content">
        <div class="content-form">
            <div class="wrapper">
                <div class="form-image">
                    <img src="./assets/images/logo.png" alt="logo_navega" title="Navega">
                </div>
                <div class="form-title">
                    <h2>Esqueceu sua senha? <br>
                        Não se preocupe, iremos te ajudar!</h2>
                </div>
                <div class="form-text">
                    <p>Preencha os campos necessários para <br>
                    continuar com a recuperação de senha</p>
                </div>
                <div class="form">
                    <form [formGroup]="form">
                        <app-custom-input titulo="Email ou CPF" icone="check_circle" formControlName="login" type="text"></app-custom-input>
                        <div class="button-template">
                            <app-custom-button titulo="Redefinir senha" type="button" (click)="onSubmit($event)"></app-custom-button>
                        </div>
                    </form>
                </div>
                <div class="login">
                    <p>Já é cadastrado? <a routerLink="/login">Faça login aqui</a></p>
                </div>
            </div>
        </div>
        <div class="content-partial">
            <app-partial-background></app-partial-background>
        </div>
    </div>
</div>
