

.mat-expansion-panel{
    border: 1px solid #BDBDBD;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
    box-shadow: initial;
}

.panel-header img{
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

.panel-header span{
    display: inline-block;
    vertical-align: middle;
}

mat-expansion-panel{
    margin-bottom: 10px;
}

::ng-deep .mat-expansion-panel-header.mat-expanded{
    height: 45px;
}

.content{
    border-top: 1px solid #BDBDBD;
    padding: 10px 0 0 0;
}

.content .line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
}

.content .line span{
    color: #464646;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.5px;
}

.content .line b{
    color: #464646;
    font-weight: 600;
    font-size: 14px;
    line-height: 17.5px;
}

.action{
    margin: 20px 0 0 0 ;
    text-indent: 50px;
}

.action button{
    text-transform: uppercase;
    color: #1AAAB2;
    font-weight: 700;
    font-size: 14px;
    line-height: 17.5px;
    cursor: pointer;
    border: none;
    background-color: #fff;
    transition: 0.3s;
}

.action button:hover{
    text-decoration: underline;
}

.action-contributon {
    text-align: center;
    margin: 15px 0 0 0;
}

.action-contributon button{
    color: #fff;
    background-color: #1AAAB2;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #1AAAB2;
    padding: 12px 35px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .action{
        text-align: center;
        text-indent: initial;
    }
}