
<div class="modal-title">
  <h2>{{ data.titulo_modal }}</h2>
  <mat-icon class="material-symbols-outlined" (click)="onNoClick()" class="close">
    close
  </mat-icon>
</div>

<form [formGroup]="contributionForm">
  <div class="form-group">
    <input type="radio" class="radio" id="contribuicaoMensal" formControlName="titulo" value="Contribuição mensal" (change)="onTipoContribuicaoChange()" name="titulo">
    <label for="contribuicaoMensal" class="radio" >Contribuição mensal</label>
  </div>
  <div class="form-group">
    <input type="radio" class="radio" id="contribuicaoVoluntaria" formControlName="titulo" value="Contribuição voluntária" (change)="onTipoContribuicaoChange()" name="titulo">
    <label for="contribuicaoVoluntaria" class="radio" >Contribuição voluntária</label>
  </div>
  <div class="form-group">
    <label for="valorContribuicao">Valor da contribuição</label> <br>
    <input type="text" id="valor" formControlName="valor" (input)="formatCurrency($event)" placeholder="R$ 0,00" autocomplete="off">
  </div>
  <div *ngIf="mostrarPorcentagem" class="form-group">
    <label for="porcentagemSalario">Porcentagem do salário</label> <br>
    <input type="number" id="porcentagem" formControlName="porcentagem">
  </div>
  <div class="buttons">
    <button type="button" (click)="onNoClick()" class="cancel">Cancelar</button>
    <button type="button" (click)="incluir()" class="confirm">Incluir</button>
  </div>
</form>
