
<app-header (loading)="onLoadingEvent($event)"></app-header>
<div *ngIf="isLoading">
    <app-loading></app-loading> 
</div>
<mat-toolbar>
    <div class="toolbar container">
        <button (click)="toggleDrawer()">
            <mat-icon>arrow_back</mat-icon>
            {{ selectedLabel }}
        </button>
    </div>
</mat-toolbar>
<mat-drawer-container class="dashboard container">
    <mat-drawer #drawer mode="side" [opened]="drawerOpened" class="menu">
        <app-custom-sidenav (labelSelected)="updateLabel($event)"></app-custom-sidenav>
    </mat-drawer>
    <mat-drawer-content class="main" [ngClass]="isSidebarVisible ? 'with-sidebar' : 'without-sidebar'">
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
