<div class="header">
    <div class="container">
        <div class="header-content">
            <div class="avatar">
                <img src="./assets/images/avatar.png" alt="user_avatar">
            </div>
            <div class="utils">
                <a>
                    <mat-icon class="material-symbols-outlined">
                        home
                    </mat-icon>
                </a>
                <a>
                    <mat-icon class="material-symbols-outlined">
                        visibility
                    </mat-icon>
                </a>
                <a>
                    <mat-icon class="material-symbols-outlined">
                        repeat
                    </mat-icon>
                </a>
            </div>
        </div>
    </div>
</div>
